.individualCard {
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  height: 220px;
  width: 150px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  top: 0;
  left: 0;
}

.hearts .suit::after {
  content: "\2665";
}
.spades .suit::after {
  content: "\2660";
}
.clubs .suit::after {
  content: "\2663";
}
.diams .suit::after {
  content: "\2666";
}

.spades,
.clubs {
  color: black;
}

.hearts,
.diams {
  color: red;
}

.hand {
  position: relative;
}

.cardTop {
  font-size: 2em;
  height: 40px;
  line-height: 0.7em;
}

.cardMid {
  text-align: center;
  font-size: 4em;
  height: 110px;
}

.cardBottom {
  font-size: 2em;
  height: 50px;
  line-height: 0.7em;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.players {
  border: solid black 1px;
  height: 250px;
}

#player1 {
  background-image: url("https://image.freepik.com/free-photo/green-poker-table-background_87414-3611.jpg");
}

#player2 {
  background-image: url("https://images.assetsdelivery.com/compings_v2/grzym/grzym1109/grzym110900003.jpg");
}

#message {
  font-size: 30px;
  font-weight: bold;
}
